@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.home {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  text-align: center;
}

.main-slide {
  margin-left: 2.2rem;
  width: 50%;
  height: 50%;
}

.down {
  margin: 5px 450px;
}

h2 {
  color: rgb(255, 0, 0);
  font-size: 20px;
  padding: 1rem;
  margin-left: 60px;
}

.regbtn {
  font-family: "Montserrat", sans-serif;
  padding: 1.5rem 8rem;
  font-size: 1.5rem;
  margin: 10px;
  background: #0575e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #021b79,
    #0575e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #021b79,
    #0575e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  border-radius: 5rem;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease;
}

.Buttons-sec1 {
  display: flex;
  justify-content: space-around;
  margin: 0rem;
  flex-wrap: wrap;
}
.Buttons-sec2 {
  display: flex;
  justify-content: space-around;
  margin: 0rem;
}

.btn {
  font-family: "Montserrat", sans-serif;
  background: #0575e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #021b79,
    #0575e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #021b79,
    #0575e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  padding: 20px 80px;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  border: none;
}

.container {
  width: 45%;
}

.container button {
  display: flex;
  width: 95%;
  margin: 16px 12px;
  justify-content: center;
  border: none;
}

.fieldset {
  border: solid;
  color: #000000;
  border-radius: 1em;
  margin: 2em 1em 1em;
  padding: 0 1em 1em;
}

.legend {
  transform: translatey(-50%);
  width: max-content;
  background: #e8f0fe; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 1.5rem;
}

@media screen and (max-width: 850px) {
  .home {
    align-items: flex-end;
  }

  .right {
    width: 100%;
  }
}
