.footer {
  align-items: center;
  text-align: justify;
  display: flex;
  justify-content: center;
}

.footer-container {
  margin-top: 60%;
  display: grid;
  grid-template-columns: 5fr 1.3fr;
  align-items: center;
  background-color: #d5ebfe;
}

.content {
  margin: 0px 60px 0px 60px;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.content > h1 {
  margin: 0px 5px 0px 0px;
  width: 80%;
  font-size: 1.7rem;
  font-family: "Montserrat", sans-serif;
}

.cnt {
  width: 90%;
}

.right {
  display: flex;
  margin: 2rem 3rem;
}

.right > img {
  width: 10rem;
  height: 10rem;
}

.copyright1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 0rem 1rem;
  background-color: #d5ebfe;
}

.copyright2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 0.5rem 1rem;
  background-color: #d5ebfe;
}

@media (max-width: 650px) {
  .footer-container {
    display: revert;
  }

  .footer-child {
    align-items: center;
    justify-content: center;
    text-align: justify;
  }

  .footer {
    overflow: hidden;
    flex-direction: column;
  }

  .cnt {
    width: 78%;
  }

  .content {
    margin: 0px 40px;
    font-size: 20px;
  }

  .content > h1 {
    margin: 20px 0px 0px 0px;
    font-size: 25px;
  }
}
