@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.main {
  display: flex;
  font-family: "poppins", sans-serif;
}

.left {
  margin: 0.5rem;
}
.right {
  margin: 0.5rem;
}

.entry {
  margin: auto;
  padding: 2rem;
  display: grid;
  justify-items: center;
}

.input {
  display: grid;
}
.cancel-btn-mobile {
  font-family: "poppins", sans-serif;
  background: #e90e0e;
  color: white;
  padding: 12px 15px;
  margin: 0.5rem;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cancel-btn-padding-mobile {
  margin-top: 1rem;
}

.Submit-btn {
  font-family: "poppins", sans-serif;
  background: #29d02f;
  color: white;
  padding: 12px 30px;
  margin: 0.5rem;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.help {
  margin: 3.5rem;
}

@media (max-width: 1024px) {
  .main {
    flex-wrap: wrap;
  }

  .entry {
    width: 20rem;
  }

  h5{
    display: grid;
  }
}
