@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.details {
  display: flex;
  font-family: "poppins", sans-serif;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.left-smartcard {
  margin: 0.5rem;
  width: 25rem;
  display: grid;
  justify-items: center;
}

.right-smartcard {
  margin: 0.5rem;
  display: grid;
  justify-items: center;
}

.input-smartcard {
  display: grid;
  margin: 1rem;
}
