@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.ComingSoon {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-family: monospace;
}

.ComingSoon > img {
  height: 3rem;
}

.atvs {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.soon {
  font-size: 1.5rem;
  margin: 1rem 0;
}

@media screen and (max-width: 850px) {
  .atvs {
    font-size: 1.2rem;  
  }
  .soon {
    font-size: 1rem;
  }
}
