@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.details {
  display: grid;
  flex-direction: column;
  font-family: "poppins", sans-serif;
  justify-content: center;
  align-items: center;
}

.input-smartcard {
  display: grid;
  margin: 1rem;
}
