* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

nav {
  font-family: "Montserrat", sans-serif;
  position: inherit;
  z-index: 1000;
  display: flex;
  width: 100%;
  background: #0575e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #021b79,
    #0575e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #021b79,
    #0575e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo-name {
  line-height: 1rem;
  width: 440px;
  padding: 1rem;
  margin: 5px 150px 5px 220px;
}

.logo {
  color: #ffffff;
  margin: 10px 20px 10px 20px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.logo > img {
  width: 90px;
  height: 80px;
  margin: 1px;
}

@media screen and (max-width: 360px) {
}
