* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* navbar */
header {
  font-family: "Montserrat", sans-serif;
}

nav {
  position: fixed;
  z-index: 1000;
  display: flex;
  width: 100%;
  background-color: #03055a;
}

.logo-name {
  line-height: 1rem;
  width: 440px;
  padding: 1rem;
  margin: 5px 20px 5px 200px;
}

.logo {
  color: #ffffff;
  margin: 5px 20px 5px 20px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.logo > img {
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 360px) {
}
